<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">

    <footer class="t-footer">

        <div class="container">
            <ul class="list-unstyled row">
                <li class="col-md-4 col-sm-12">
                    <h3>ENSA d'Agadir</h3>
                    <p>Crée en septembre 1999. C’est une école polytechnique qui est ouverte sur plusieurs technologies : génie industriel, génie informatique, génie des procédés, de l’énergie de l’environnement, l’ingénierie financière, l’ingénierie de projet et des affaires, le génie électrique ainsi que le génie agroalimentaire.
                    </p>
                </li>
                <li class="t-footer-liens col-md-4 col-sm-6">
                    <h3>Liens importants</h3>
                    <ul class="row list-unstyled">
                        <div class="col-xs-6">
                            <li><a href="#">Présentation</a></li>
                            <li><a href="#">Actualités</a></li>
                            <li><a href="#">Admission</a></li>
                            <li><a href="#">Evenements</a></li>
                            <li><a href="#">Formations</a></li>
                        </div>

                        <div class="col-xs-6">
                            <li><a href="#">Vie estudiantine</a></li>
                            <li><a href="#">Recherches</a></li>
                            <li><a href="#">Entreprises</a></li>
                            <li><a href="#">Bibliothèque</a></li>
                        </div>
                    </ul>
                </li>
                <li class="col-md-4 col-sm-6">
                    <h3>Contact</h3>
                    <p>
                        ENSA, B.P1136, Agadir, Maroc <br/>
                        Tél  : (212) 052822 83 13 <br/>
                        Fax : (212) 0528232007 <br/>
                        <a href="#">http://www.ensa-agadir.ac.ma</a>
                    </p>
                </li>
            </ul>
        </div>
    </footer>
    <div class="copyright">
        <div class="container text-center">
            <p>&copy; Copyright 2015 ensa agadir, created by <span><a href="#">S.O</a></span></p>
        </div>
    </div>
</div>
</body>
</html>