// My Variables
//-------------------

//== Colors
// footer and top-navbar background (no-bootstrap)

$my-bleu  :     		 #003c7a;
$bleu-dark:			     #000913;
$bleu-light: 			 #428bca;
$my-gray  : 			 #898989;

//== Scaffolding
$my-link-color : 		 $my-gray;
$my-link-hover-color:	 #428bca; // $brand-primary

//== Typography

$my-headings-color:         $my-bleu;

